
nav {
  width: 100%;
  padding: 20px 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #0b0b0f;
  border-bottom: 1px solid #27272a;

  box-sizing: border-box;
}

nav h2 {
  color: #a855f7;
  margin: 0;
}

.nav-menu {
  display: flex;
  gap: 30px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  color: #f8fafc;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;

  width: 0;
  height: 2px;

  background: #a855f7;

  transition: width 0.3s ease;
}

.nav-menu a:hover {
  color: #a855f7;
}

.nav-menu a:hover::after {
  width: 100%;
}

nav button {
  display: none;
}

/* MOBILE */

@media (max-width: 768px) {

  nav {
    padding: 18px 25px;
    position: relative;
    z-index: 1000;
  }

  nav button {
    display: block;
    background: transparent;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
  }

  .nav-menu {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    flex-direction: column;
    align-items: center;

    padding: 25px 0;

    background: #0b0b0f;
  }

  .nav-menu.open {
    display: flex;
  }
}

